html {
    position: relative;
    min-height: 100%;
}

* {}

body {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

nav {
    padding-left: 20px !important;
}

.nav-link:hover {
    transition: all 0.4s;
}

.nav-link-collapse:after {
    float: right;
    content: '\f067';
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    content: '\f068';
    font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level>.nav-item {
    padding-left: 20px;
}

.item-menu {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    transition: .2s ease-in-out;
}

.item-menu:hover {
    transform: scale(0.95);
    transition: .2s ease-in-out;
}

.item-menu i {
    transform: scale(3);
    color: #343a40;
}

.menuhorizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70vh;
}

.content-wrapper {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.btndetalhes {
    margin: 0;
    margin-bottom: 20px !important;
    padding: 0;
    border: none;
    outline: none;
    color: white;
    background-color: #ec644b;
    font-size: 10pt;
    border-radius: 10px;
    height: 25px;
    width: 70px;
}

.modal-body img {
    width: 100px;
    border-radius: 10px;
}

.input {
    height: 40px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

.btnoption {
    border: none;
    background-color: transparent;
    outline: none;
}

.btnoption:hover {
    color: gray;
}

th,
td {
    border-radius: 5px !important;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr button {
    margin-top: 20px !important;
}

.divInput {
    display: flex;
    flex-direction: row;
}

.divInput input {
    width: 90%;
    height: 40px;
}

.divInput button {
    height: 40px;
    margin-left: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media (min-width: 992px) {
    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
        background: #343a40;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }
    .content-wrapper {
        margin-left: 230px;
    }
    .footer {
        width: calc(100% - 230px);
        margin-left: 230px;
    }
}